{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Biz haqimizda 2 Section -->
<section id="Biz haqimizda-2" class="Biz haqimizda-2 section light-background">

  <div class="container">
    <div class="content">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
          <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
            <div class="img">
              <img src="{% static 'img/about.jpg' %}" alt="circle image" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
          <div class="px-3">
            <span class="content-subtitle">Biz haqimizda</span>
            <h2 class="content-title text-start">
              Zinnur ishlab chiqarish birlashmasi 2014-yildan beri faoliyat yuritadi
            </h2>

            <p class="mb-5">
              Korxonamiz Sirdaryo viloyatida joylashgan bo‘lib, dastlab lak va bo‘yoq mahsulotlarini ishlab chiqarish bilan ish boshlagan. Hozirgi kunda faoliyatimiz 3 yo‘nalishni qamrab olgan: lak va bo‘yoq, charm-poyabzal, mebel va mebel jihozlari. Ishlab chiqarishda Xitoy texnologiyalariga asoslangan zamonaviy uskunalardan foydalanamiz. Har bir mahsulotimiz davlat standartlariga to‘liq mos keladi va sifatli sertifikatlarga ega.
            </p>
            <p>
              <a href="#" class="btn-get-started">Batafsil</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Biz haqimizda 2 Section -->


  <!-- Services Section -->
<section id="services" class="services section light-background">

  <div class="container">
    <div class="row gy-4 justify-content-center">

      <div class="col-lg-3">
        <div class="services-item" data-aos="fade-up">
          <div class="services-icon">
            <i class="bi bi-paint-bucket"></i>
          </div>
          <div>
            <h3>Bo'yoq va laklar</h3>
            <p>
              Sig‘imi 2-3 tonna bo‘lgan qozonlar va 4500 litrli mikserlarda har xil rangdagi bo‘yoq, lak va emulsiya mahsulotlari ishlab chiqariladi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="services-item" data-aos="fade-up" data-aos-delay="100">
          <div class="services-icon">
            <i class="bi bi-house"></i>
          </div>
          <div>
            <h3>Mebellar</h3>
            <p>
              LDSP va MDF materiallaridan mebel qismlari kesiladi, qoplama yopishtiriladi, yig‘iladi va sifatli holda qadoqlanadi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="services-item" data-aos="fade-up" data-aos-delay="200">
          <div class="services-icon">
            <i class="bi bi-person-walking"></i>
          </div>
          <div>
            <h3>Oyoq kiyimlar</h3>
            <p>
              Charmdan tayyorlangan detallar tikiladi, taglik yopishtiriladi, issiqlikda pishiriladi va sifatli qilib qadoqlanadi.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /Services Section -->



<!-- Stats Section -->
<section id="stats" class="stats section light-background">

  <div class="container" data-aos-delay="100" data-aos="fade-up">

    <div class="row gy-4 justify-content-center">

      <div class="col-lg-5">
        <div class="images-overlap">
          <img src="{% static 'img/Pages/boyoq-lak.jpg' %}" alt="Bo'yoq va laklar" class="img-fluid img-1" data-aos="fade-up">
        </div>
      </div>
      <div class="col-lg-4 ps-lg-5 ">
        <!-- <span class="content-subtitle">Mahslotlar</span> -->
        <h2 class="content-title text-start" style="font-size: 2rem;">Boʻyoq va laklar</h2>
        <p>
          Lak va bo‘yoq mahsulotlarini ishlab chiqarish seximizda Xitoy texnologiyalariga asoslangan zamonaviy uskunalar mavjud. Ishlab chiqarish uchun sig‘imi 2 tonnadan 3 tonnagacha bo‘lgan bir nechta “nejaveka” qozonlar, shuningdek 4500 litrli yuqori tezlikdagi mikserlar, kondensatorli issiqlik reaktori va soatiga 3500 kg mahsulot ishlab chiqarishga mo‘ljallangan bikserlar ishlatiladi.
          <br><br>
          Har bir rang alohida qozonda tayyorlanadi. Mikserlar yordamida xomashyo aralashtirilib, kerakli bo‘yoq, lak va emulsiya mahsulotlari olinadi. Jarayon tugagach, mahsulotlar idishlarga solinadi, qadoqlanadi va yetkazib berishga tayyorlanadi. Barcha mahsulotlar davlat standartlariga to‘liq mos keladi.
        </p>
      </div>

    </div>

  </div>
</section>
<!-- /Stats Section -->



<!-- Mebellar-->
<section id="Biz haqimizda-2" class="Biz haqimizda-2 section light-background">

  <div class="container">
    <div class="content">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
          <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
            <div class="img">
              <img src="{% static 'img/Pages/mebel.jpg' %}" alt="mebel.jpg" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
          <div class="px-3">
            <h2 class="content-title text-start">
              Mebel va mebel jihozlari
            </h2>

            <p class="mb-5">
              Korxonamiz zamonaviy texnologiyalar asosida turli xil mebel mahsulotlarini ishlab chiqaradi. Ishlab chiqarish jarayonida LDSP va MDF materiallaridan foydalangan holda, kerakli o‘lchamlar aniqlanadi va arra yoki rover qurilmalari yordamida kesiladi. Har bir detal sifatli qayta ishlanib, maxsus kroma apparatlarida chetlari yopishtiriladi.
              <br><br>
              Tayyor o‘lchamlar bo‘yicha yig‘ilish jarayoni amalga oshirilib, yakuniy mebel jihozlari shakllantiriladi. Mahsulotlarimiz zamonaviy dizaynga ega, foydalanishga qulay va sifat jihatidan davlat standartlariga to‘liq javob beradi. Tayyor mebellar to‘plam holida qadoqlanib, mijozlarga yetkaziladi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Mebellar -->




<!-- Oyoq kiyim -->
<section id="stats" class="stats section light-background">

  <div class="container" data-aos-delay="100" data-aos="fade-up">

    <div class="row gy-4 justify-content-center">

      <div class="col-lg-5">
        <div class="images-overlap">
          <img src="{% static 'img/Pages/oyoq-kiyim.jpg' %}" alt="oyoq-kiyim" class="img-fluid img-1" data-aos="fade-up">
        </div>
      </div>

      <div class="col-lg-4 ps-lg-5">
        <span class="content-subtitle"></span>
        <h2 class="content-title" style="font-size: 2rem;">Oyoq kiyimlar</h2>
        <p>
          Oyoq kiyim ishlab chiqarish seximizda zamonaviy texnologiyalar asosida keng turdagi mahsulotlar tayyorlanadi. Ishlab chiqarish jarayoni xom-ashyo tanlashdan boshlanib, belgilangan o‘lchamlarga qarab kesish, yopishtirish va tikish bosqichlaridan o‘tadi.
          <br><br>
          Har bir detal maxsus tikuv mashinalarida tikiladi, ustki qismi taglik bilan maxsus kley yordamida biriktirilib, issiq pechda mustahkamlanadi. So‘ng, press yordamida siqilib, mustahkamligi ta’minlanadi va sovutgichda qotiriladi. Yakuniy mahsulotlar tozalab, qadoqlanadi.
          <br><br>
          Mahsulotlarimiz gigiyenik talablar va sifat standartlariga javob beradi hamda turli ehtiyojlarga mo‘ljallangan dizayn va hajmlarda tayyorlanadi.
        </p>
      </div>

    </div>

  </div>
</section>
<!-- /Oyoq kiyim -->




  <!-- Team Section -->
  <section id="team" class="team section">

    <div class="site-section slider-team-wrap">
      <div class="container">

        <div class="slider-nav d-flex justify-content-end mb-3">
          <a href="#" class="js-prev js-custom-prev"><i class="bi bi-arrow-left-short"></i></a>
          <a href="#" class="js-next js-custom-next"><i class="bi bi-arrow-right-short"></i></a>
        </div>

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "1",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".js-custom-next",
                "prevEl": ".js-custom-prev"
              },
              "breakpoints": {
                "640": {
                  "slidesPerView": 2,
                  "spaceBetween": 30
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 30
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 30
                }
              }
            }
          </script>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe  src="{% static 'img/Sertificates/Эмаль бўёқ 115.PDF' %}" frameborder="0" ></iframe>
                </div>
                <h3 clas="">
                  <a href="#">Emal bo‘yoq </a>
                </h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe src="{% static 'img/Sertificates/Эластик қопламали бўёқ.PDF' %}" frameborder="0"></iframe>
                </div>
                <h3 clas="">
                  <a href="{% static 'img/Sertificates/Эластик қопламали бўёқ.PDF' %}">Elastik qoplamali bo‘yoq</a>
                </h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe src="{% static 'img/Sertificates/люменицент бўёқ.PDF' %}" frameborder="0"></iframe>
                </div>
                <h3 clas="">
                  <a href="{% static 'img/Sertificates/люменицент бўёқ.PDF' %}">Lyuminestsent bo‘yoq</a>
                </h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe src="{% static 'img/Sertificates/Акрил полимери сувли бўёқ.PDF' %}" frameborder="0"></iframe>
                </div>
                <h3 clas="">
                  <a href="{% static 'img/Sertificates/Акрил полимери сувли бўёқ.PDF' %}">Akril polimerli suvli bo‘yoq</a>
                </h3>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe src="{% static 'img/Sertificates/мебел 2023.PDF' %}" frameborder="0"></iframe>
                </div>
                <h3 clas="">
                  <a href="{% static 'img/Sertificates/мебел 2023.PDF' %}">Mebel</a>
                </h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="team">
                <div class="pic">
                   <iframe  src="{% static 'img/Sertificates/MEXR VODIYSI.pdf' %}"  frameborder="0"></iframe>
                </div>
                <h3 clas="">
                  <a href="{% static 'img/Sertificates/MEXR VODIYSI.pdf' %}">Mexr Vodiysi</a>
                </h3>
              </div>
            </div>

        
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </section><!-- /Team Section -->>
{% endblock %}

