{% load static %}
<footer id="footer" class="footer light-background">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <!-- <h3>Zinnur</h3> -->
            <img width="120" src="{% static 'img/favicon/favicon.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">Biz haqimizda</h3>
            <p class="mb-4">
              Zinnur - Oʻzbekiston boʻylab mashur boʻlgan sanoat birlashmasi boʻlib, bir nechta yetakchi zavod va korxonalarni oʻz ichiga oladi. Korxona lak-boʻyoq, mebel, oyoq kiyim va boshqa mahsulotlarni ishlab chiqaradi.
            </p>
            <p class="mb-0">
              <a href="/about/" class="btn-learn-more">Batafsil</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">Havolalar</h3>
            <ul class="list-unstyled float-start me-5">
              <li><a href="/">Bosh sahifa</a></li>
              <li><a href="/about/">Biz haqimizda</a></li>
              <li><a href="/products/">Mahsulotlar</a></li>
              <li><a href="/news/">Yangiliklar</a></li>
              <li><a href="/contact/">Biz bilan bog'lanish</a></li>
            </ul>
            <ul class="list-unstyled float-start">

            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">Telefon</h3>
            <p>+998 (93) 324 91 95  <br> +998 (93) 324 63 03</p>
          </div>
          <div class="widget">
            <h3 class="widget-heading">Ijtimoiy tarmoqlar</h3>
            <p> <a href="https://t.me/zinnur_uzz"><i class="bi bi-telegram"></i> zinnur_uzz </a> <br> <a href="https://www.instagram.com/zinnur__uz"><i class="bi bi-instagram"></i> zinnur__uz</a></p>
          </div>
        </div>
        
      </div>

      <div class="copyright d-flex align-items-center justify-content-center">
        <p>© <span>2025</span> <strong class="px-1 sitename">Zinnur</strong> <span>Barcha huquqlar himoyalangan.</span></p>
      </div>
    </div>
  </footer>